.right-bar{
    background-image: url("./assent/interier.png");
    background-repeat: round;
}
.map{
    background-image: url("../public/img/other/map.png");
    background-repeat: round;
}
.arrow-up{
    background-image: url("../public/img/other/arrow-top.png");
    width: 11px;
    height: 10px;
}
.arrow-down{
    background-image: url("../public/img/other/arrow-down.png");
    width: 11px;
    height: 10px;
}